{% extends "layout.html" %}


{% block body %}
<a href="/addOrder">Add New Order</a>
<table class="table table-sm table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Your Name</th>
      <th scope="col">Your Order</th>
      <th scope="col">Adress</th>

    </tr>
  </thead>
    {% for i in ordersList %}
    <tbody>
    <tr>
      <th scope="col">{{i.id}}</th>

      <td>{{user.name}}</td>
      <td>{{i.order}}</td>
      <td>{{i.address}}</td>

    </tr>

  </tbody>
    {% endfor %}

</table>


{% endblock %}

